/*edit_note.css*/
.container {
    width: 1150px;
    margin: auto;
    margin-right: 50px;
}

/* Delete Button on edit note page */
.deleeet {
    background-color: white;
    transition: background-color 0.3s;
}

.deleeet:hover {
    background-color: #f0f0f0;
}

form .form-group {
    width: 68%;
}

form .form-group textarea {
    resize: vertical;
    min-height: 300px;
}

.modal-body {
    text-align: center;
}