/*edit_note.css*/
.container {
    width: 800px;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    display: flex;
    gap: 20px;
}

form .form-group {
    width: 800px;
    margin: auto;
}

form .form-group textarea {
    resize: vertical;
    min-height: 300px;
}

.button-group {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}

#shareModal .form-group {
    max-width: 50%;
}

#shareModal .modal-body button {
    margin-top: 10px;
}