/*shared_notes.css*/
body {
    background-color: #f8f9fa;
}

.header2 {
    padding: 15px;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.text-success {
    color: #000000;
}

.note-block {
    position: relative;
    padding: 15px;
    background-color: #eee;
    margin-bottom: 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: background-color 0.5s;
}

.note-block:hover {
    background-color: #d6d6d6;
}

.note-block img {
    margin-left: 10px;
}

.note-content {
    padding-right: 100px;
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.icons-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.note-block:hover .delete-icons {
    display: flex;
}

.note-block a {
    text-decoration: none;
    color: #000000;
}

.text-muted {
    color: #6c757d;
}