<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <div class="container mt-5">
    <h2 class="text-success">Welcome, {{ name }}!</h2>
    <h3 class="note-heading text-success">Your Notes:</h3>
    {% if user_notes %}
      {% for note in user_notes %}
        <div class="note-block">
          <a href="{{ url_for('edit_note', note_id=note.id) }}">
            <strong>{{ note.title }}</strong> - {{ note.content[:50] }}
          </a>
          <div class="delete-icons">
            <a href="{{ url_for('edit_note', note_id=note.id) }}">
              <img src="{{ url_for('static', filename='/pictures/edit.png') }}" alt="Edit" height=15px>
            </a>
            <a href="{{ url_for('delete_note', note_id=note.id) }}">
              <img src="{{ url_for('static', filename='/pictures/delete.png') }}" alt="Delete" height=15px>
            </a>
            </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="text-muted mt-4">Nothing here yet.</p>
    {% endif %}
  </div>
{% endblock %}
<a class="navbar-brand" href="{{ url_for('home') }}">
  <img src="{{ url_for('static', filename='/pictures/logo.png') }}" alt="Notey Logo" height="45">
</a>