<!-- view_shared_note.html -->
{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='view_shared_note.css') }}">
  <div class="container mt-5">
    <div class="header-container">
        <h2 class="text-success">View Shared Note</h2>
        <div class="icon-container">
          {% if shared_note.note.user_id == current_user.id or shared_note.shared_with_user_id == current_user.id %}
            <a href="{{ url_for('note_to_pdf', note_id=shared_note.note.id) }}">
                <img src="{{ url_for('static', filename='/pictures/pdf.png') }}" alt="PDF" height=25px>
            </a>
          {% endif %}
        </div>
    </div>
    {% if shared_note %}
      <div class="note-block">
        <strong>{{ shared_note.note.title }}</strong>
        <p> 
          by <i>{{ shared_note.note.user.username }} </i>
        </p>
        <hr>
        <p>
            {{ shared_note.note.content|safe }}
        </p>
      </div>
    {% else %}
      <p class="text-muted mt-4">Note not found.</p>
    {% endif %}
  </div>
{% endblock %}